/* Ensure background covers the entire viewport */
.img-background {
    width: 100%; /* Full viewport width */
    height: 100%; /* Full viewport height */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Flexbox for centering card */
.card-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 90vh;           /* Full viewport height */
    width: 100%;            /* Full viewport width */
    position: relative;      /* Required for positioning */
    padding: 0 20px;         /* Add some padding for smaller screens */
}

.card-customer {
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    width: 100%;              /* Take full width of container */
    min-width: 500px;         /* Set maximum width */
    min-height: 650px;         /* Limit the height of the card */
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;            /* Padding inside the card */
    border-radius: 10px;      /* Optional: Rounded corners */
    text-align: center;       /* Center content */
    overflow: auto;           /* Add scroll if content overflows */
}

.text-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem; /* Default font size for larger screens */
}

